.search-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #E6E6E6;

    .title {
        display: flex;
        align-items: center;
        width: 16%;
        justify-content: space-between;

        .line {
            font-size: 50px;
        }

        h1 {
            font-family: 'Pacifico', cursive;
        }
    }

    .search {
        input {
            width: 250px;
            height: 25px;
            font-size: 16px;
            text-align: center;
            background-color: #FAFAFA;
            border: 1px solid #DBDBDB;
            outline: none;
        }
    }

    .icons {
        display: flex;
        width: 15%;
        justify-content: space-around;
    }
}